[submodule "unity3d"]
	path = unity3d
	url = git@github.com:programmeramera/FlappyBirdStyleGame.git
[submodule "defold"]
	path = defold
	url = git@github.com:programmeramera/defold-flappy-bird.git
[submodule "monogame"]
	path = monogame
	url = git@github.com:coderox/FlappyXNA.git
[submodule "phaser"]
	path = phaser
	url = git@github.com:coderox/flappy-bird-temp.git
